body {
  margin: 0px;
}

#Title_text {
  font-weight: bold;
  position: fixed;
  top: -5px;
  left: 20px;
  width: 400px;
  height: 70px;
  text-align: center;
  padding-top: 30px;
  color: #52AD7F;
  background-color: rgb(19, 43, 97);
  border: 10px double rgb(56, 17, 97);
  border-radius: 50px;
}

#foxImg_header {
  width: 250px;
  height: 130px;
  margin: 5px;
  border: 5px solid rgb(56, 17, 97);
  border-radius: 20px;
  position: fixed;
  top: 0px;
  right: 0px;
}

header {
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: rgb(41, 90, 128);
  z-index: 2;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgb(62, 164, 46);
  font-weight: bold;
  z-index: 2;
}

#nav {
  background: #1A0334;
  padding: 10px;
  width: 100%;
  position: fixed;
  top: 134px;
  left: 0px;
  z-index: 2;
}

#nav li {
  display: inline-block;
  width: 370px;
  background: #278B58;
  padding: 5px;
  border: solid 2px rgb(178, 238, 208);
  border-radius: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
}

#nav li:hover {
  background: #0A6537;
}

#nav li:active {
  font-weight: bold;
}

#nav a {
  color: rgb(178, 238, 208);
  text-decoration: none;
}

section {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 100%;
  background-color: #A1B1D6;
}

#badgesSection img {
  width: 850px;
  height: 500px;
  z-index: 1;
}

#badgesSection div {
  position: absolute;
  top: 50px;
  left: 900px;
  display: inline-block;
  padding: 10px;
  background-color: #2F4985;
  color: #9EDABC;
  border: 10px double rgb(56, 17, 97);
  border-radius: 50px;
  font-family: Arial, sans-serif;
}

.email {
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  background-color: #2F4985;
  border: 10px double rgb(56, 17, 97);
  border-radius: 50px;
  font-family: Arial, sans-serif;
  color: #9EDABC;
}

.email a {
  color: #52AD7F;
}

.email #pp {
  margin-bottom: 5px;
}

.email #ppp {
  margin-top: 5px;
  margin-bottom: 16px;
}

.contact-div {
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  background-color: #2F4985;
  border: 10px double rgb(56, 17, 97);
  border-radius: 50px;
  font-family: Arial, sans-serif;
  color: #9EDABC;
}

.contact-div #githubimg {
  width: 120px;
  height: 100px;
}

.contact-div #discordimg {
  width: 100px;
  height: 100px;
}

.main-div {
  margin: 10px;
  padding: 20px;
  background-color: #2F4985;
  border: 10px double rgb(56, 17, 97);
  border-radius: 50px;
  font-family: Arial, sans-serif;
  color: #9EDABC;
}

.main-div p {
  margin-top: 2px;
  margin-bottom: 2px;
  z-index: 2;
}

.main-div h3 {
  margin-top: 5px;
  margin-bottom: 15px;
  z-index: 2;
}

#kaas h3 {
  color: rgb(255, 100, 0);
}

#kaas p {
  color: rgb(255, 100, 0);
}

#kaas {
  background-color: yellow;
  border-color: rgb(255, 100, 0);
  border-style: dotted;
  border-radius: 100px;
  text-align: center;
}
